*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
        background-color: lightgrey;
}

.container {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.slider {
    height: 60%;
    width: 100%;
}

.prev, .immagini, .next {
    float: left;
    height: 100%;
}

.prev, .next {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.immagini {
    width: 90%;
    text-align: center;
    border: 5px solid black;
}

.immagini img {
    width: 100%;
    height: 100%;
    display: none;
}

.immagini img.active {
    display: inline-block;
}
